<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="./CSS/style.css">
		<title>Document</title>
	</head>
	<body>
		<main>
		
			<div id="img">
				<img src="./img/graphique.png" alt="graphique" width="780px" height="700px">
			</div>
			<div id="firstPage">
				<img src="./img/Logo.png" alt="logo" width="540px" height="341px">
				<div>
					<a href="/register">
						<button class="connexion">S'inscrire</button>
					</a>
				</div>
				<div>
                <a href="/connexion"><button class="connexion">Connexion</button></a>
					
				</div>
			</div>
		</main>
	</body>
</html>
