<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./CSS/styleOne.css">
    <title>Document</title>
</head>
<body>
    <main>
        <h1>
            <img src="./img/LogoOne.png" alt="logo" height="120px" >
        </h1>
        <article>
            
            <h3>Formulaire d'inscription</h3>
            
            <div id="formulaire"> 
            <form action="/register" method="POST">
                <label for=""></label>
                <div class="container">
                    <input type="text" name="name" placeholder="Nom de l’entreprise">
                    <label for=""></label>
                </div>
                <div class="container">
                    <input type="txt" name="siret" placeholder="Numéro de siret">
                    <label for=""></label>
                </div>
                <div class="container">
                    <input type="email" name="mail" placeholder="Adresse e-mail de l’entreprise">
                    <label for=""></label>
                </div>
                <div class="container">
                    <input type="text" name="director" placeholder="Nom du directeur">
                    <label for=""></label>
                </div>
                <div class="container">
                    <input type="password" name="password" placeholder="Password">
                </div>
                <div id="submi">
                    <button  type="submit">Valider</button>
                </div>
                </form>
                
            </div>

        </article>
    </main> 
</body>
</html>