<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./CSS/styleFour.css">
    <title>Document</title>
</head>
<body>
    <main>
        <h1>
            <img src="./img/LogoOne.png" alt="logo" height="120px" >
        </h1>
        <article>
            
            <h3>Nouvel Employé</h3>
            
            <div id="formulaire"> 
            <form action="/workerRegister" method="POST" enctype="multipart/form-data">
                <label for=""></label>
                <div class="container">
                    <input type="text" name="name" placeholder="Nom">
                    <label for=""></label>
                </div>
                <div class="container">
                    <input type="txt" name="prenom" placeholder="Prenom">
                    <label for=""></label>
                </div>
                <div class="container">
                    <input type="txt" name="poste" placeholder="poste">
                    <label for=""></label>
                </div>
                <div class="container">
                    <input type="file" name="photo">
                    <label for="file"></label>
                </div>
                <div id="submi">
                    <button  type="submit">Valider</button>
                </div>
                </form>
                
            </div>

        </article>
    </main> 
</body>
</html>